<div class="card">
    <img src="{{image_url}}" class="card-img-top" alt="{{name}}" height="20px">
    <div class="card-body">
        <h2 class="card-title">
            <a href="/beer/{{id}}"><span></span>{{name}}</a>
        </h2>
        <h5 class="taglin-tex">{{tagline}}</h5>
        <p class="description-text">{{description}}</p>
    </div>
</div>